<section class="dashboard">
  <!-- <div clas="dashboard"> -->
  @for (item of cards; track $index) {
    <div class="dashboard-card">
      <div class="card-icon">
        <span class="icon icon-user"></span>
      </div>

      <div class="card-main-details">
        <span class="card-name">Total Employees</span>
      </div>

      <div class="card-suammary">
        <strong class="symmary-count">100</strong>

        <div class="summary-persontage">
          <span class="icon icon-trad"></span>
          <span class="summary-perogresh">+4.3%</span>
        </div>
      </div>
    </div>
  }
  <!-- </div> -->
</section>
