.users {
  .users-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

    .users-card {
      flex: 1 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 24px;

      .card-icon {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background: #ede9fe;
        color: #6c63ff;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          width: 25px;
          height: 25px;
        }
      }

      .card-main-details {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 4px;

        .card-name {
          color: #9ca3af;
          font-size: 14px;
        }

        .symmary-count {
          font-size: 20px;
        }
      }
    }
  }

  .users-table {
    margin-top: 24px;
    height: 70.9vh;
    overflow: hidden;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #e8e8e8;
  }
}
