@use './index.scss';

* {
  box-sizing: border-box;
  transition: all 0.15s linear;
}

.common-border {
  border: 1px solid rgb(209, 209, 209);
}

input,
button,
textarea {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
