<div class="side-bar" [class.expand]="isExpand()">
  <div class="nav-conatiner">
    <button class="expand-button" (click)="openSideBar()">
      <span class="icon icon-chevron-right"></span>
    </button>

    <nav class="nav">
      <div class="logo">
        <span class="icon icon-logo"> </span>
        <span class="label"> PeopleOS </span>
      </div>

      @for (menu of SidebarItem; track menu.id) {
        <a [routerLink]="menu.route" routerLinkActive="active" class="route-link">
          <span class="icon icon-{{ menu.icon }}"> </span>

          <span class="label">
            {{ menu.label }}
          </span>
        </a>
      }
    </nav>
  </div>
</div>
