.side-bar {
  width: 55px;
  height: 100%;
  position: relative;

  .nav-conatiner {
    height: 100%;
    border-radius: var(--radius-md);

    .expand-button {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: rgb(102, 102, 199);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 30px;
      right: -11px;

      .icon-chevron-right {
        width: 14px;
        height: 14px;
      }
    }

    .nav {
      padding: 8px;
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 8px;
      flex-direction: column;

      .logo {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-bottom: 1px solid #cbcbcb;
        width: 100%;
        padding-bottom: 16px;
        padding-top: 10px;
        color: var(--black-color);

        .label {
          display: none;
        }

        .icon {
          width: 24px;
          height: 20px;
        }
      }

      .route-link {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px;
        justify-content: center;
        gap: 8px;
        color: #9ca3af;
        text-decoration: none;
        border-radius: var(--radius-sm);

        &.active {
          background-color: #e5e0fa;
          color: #847eff;
        }

        &.active,
        & {
          &:hover {
            background-color: #f8f6ff;
            color: #9c97fd;
          }
        }
        .icon {
          width: 20px;
          height: 20px;
        }
        .label {
          display: none;
        }
      }
    }
  }

  &.expand {
    width: 200px;

    .nav-conatiner {
      .expand-button {
        .icon {
          transform: rotateY(180deg);
        }
      }

      .nav {
        .logo {
          .label {
            display: block;
          }
        }

        .route-link {
          justify-content: flex-start;
          .label {
            display: block;
          }
        }
      }
    }
  }
}
